body {
    background-image:url("../images/bg-img.jpg");
    width: 500px;
    height: 400px;
    font-family: 'Sriracha', cursive;
}

@media only screen and (min-width: 400px) {
    body {
      background-color: lightblue;
      background-image: none;
    }
    h1 {
        text-transform: lowercase;
        font-size: 30px;
    }
  }
@media only screen and (min-width: 800px) {
    body {
      background-color:lightcoral;
      background-image: none;
    }
    h1 {
        text-transform: uppercase;
        font-size: 45px;
    }
  }
@media only screen and (max-width: 850px) {
    
    
    h1 {
        text-align: center;
        color: white;
        text-transform: capitalize;
    }
    
  }