body {
    background-image:url("../images/bg-img.jpg");
    width: 500px;
    height: 400px;
    font-family: 'Sriracha', cursive;
}

h1 {
    text-align: center;
    color: white;
    text-transform: capitalize;
}